
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chapel Hill Bar Crawl</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  </head>
  <body>
    <div class="header has-background-info">
        <a class= "subtitle is-5 has-text-white" href="/">Home</a>
        <div class="columns is-mobile is-centered">
            <div class="column is-half has-text-centered">
                <h1 class="has-text-white title is-1"><%=data[0].bar%></h1>
                <p class= "has-text-white subtitle is-2"><%=data[0].comments%></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class= "columns">
            <div class="column"></div>
            <div class="column">
                <ul>
                    <p>Drink</p>
                    <% for(let i = 0; i< data.length; i++) { %>
                    <div><p> <a href =<%="/drink/"+data[i].id%>><strong><%=data[i].drink%></strong></a></p></div> 
                    <% }; %>
                </ul>
            </div>
            <div class="column">
                <ul>
                    <p>Price</p>
                    <% for(let i = 0; i< data.length; i++) { %>
                    <div><p> $<%=data[i].price%></p></div> 
                    <% }; %>
                </ul>
            </div>
            <div class="column">
                <ul>
                    <p>Type</p>
                    <% for(let i = 0; i< data.length; i++) { %>
                    <div><p> <%=data[i].drink_type%></p></div> 
                    <% }; %>
                </ul>

            </div>
            <div class="column">
                <p>Ounces</p>
                <% for(let i = 0; i< data.length; i++) { %>
                <div><p> <%=data[i].ounces%></p></div> 
                <% }; %>
            </ul>

            </div>
            <div class="column">
                <ul>
                    <p>APV</p>
                    <% for(let i = 0; i< data.length; i++) { %>
                    <div><p> <%=data[i].apv%></p></div> 
                    <% }; %>
                </ul>
            </div>
            <div class="column">
                <ul>
                    <p>Deal</p>
                    <% for(let i = 0; i< data.length; i++) { %>
                    <div><p> <%=data[i].deal%></p></div> 
                    <% }; %>
                </ul>
            </div>
            <div class="column"></div>

        </div>
    </div>
    <div class="container">
        <h1 class="subtitle is-2">Vibes: <%=data[0].vibes %>/5 </h1>
    </div>

  </body>
</html>